In [4]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
extra_items = [200, 300]
print("Before modifying:", L)

L += extra_items
print("After extending:", L)

for item in [10, 30]:
    if item in L:
        L.remove(item)
print("After removing 10 and 30:", L)

L = sorted(L)
print("Sorted in ascending order:", L)

L = sorted(L, reverse=True)
print("Sorted in descending order:", L)

Before modifying: [10, 20, 30, 40, 50, 60, 70, 80]
After extending: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [6]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest_score = max(scores)
lowest_score = min(scores)

print(f"Highest score: {highest_score}, Index: {scores.index(highest_score)}")
print(f"Lowest score: {lowest_score}, Count: {scores.count(lowest_score)}")

reversed_scores = tuple(reversed(scores))
print(reversed_scores)

if 76 in reversed_scores:
    print(f"76 found at index {reversed_scores.index(76)}")
else:
    print("76 is not in the tuple")

Highest score: 92, Index: 5
Lowest score: 45, Count: 2
(45, 58, 92, 89, 45.4, 76, 89.5, 45)
76 found at index 5

In [8]:
import random

numbers = []
odd_numbers = []
even_numbers = []
prime_numbers = []

for _ in range(100):
    numbers.append(random.randint(100, 900))

print(f"Generated numbers: {numbers}")

for value in numbers:
    if value % 2 == 0:
        even_numbers.append(value)
    else:
        odd_numbers.append(value)

    if value > 1:
        is_prime = True
        for divisor in range(2, int(value ** 0.5) + 1):
            if value % divisor == 0:
                is_prime = False
                break
        if is_prime:
            prime_numbers.append(value)

print(f"Even numbers: {even_numbers}")
print(f"Odd numbers: {odd_numbers}")
print(f"Prime numbers: {prime_numbers}")
print(f"Count of even numbers: {len(even_numbers)}")
print(f"Count of odd numbers: {len(odd_numbers)}")
print(f"Count of prime numbers: {len(prime_numbers)}")

Generated numbers: [528, 530, 705, 554, 254, 500, 574, 869, 607, 586, 637, 755, 798, 468, 874, 733, 757, 213, 406, 763, 432, 458, 750, 334, 493, 400, 665, 377, 466, 654, 805, 864, 899, 112, 433, 188, 721, 517, 370, 652, 670, 601, 823, 813, 257, 223, 379, 401, 739, 328, 167, 564, 526, 574, 441, 867, 853, 677, 293, 473, 436, 805, 390, 670, 554, 374, 647, 561, 266, 588, 198, 328, 866, 187, 474, 867, 537, 741, 427, 490, 140, 806, 215, 233, 115, 874, 268, 740, 781, 811, 858, 174, 347, 617, 342, 824, 795, 383, 786, 279]
Even numbers: [528, 530, 554, 254, 500, 574, 586, 798, 468, 874, 406, 432, 458, 750, 334, 400, 466, 654, 864, 112, 188, 370, 652, 670, 328, 564, 526, 574, 436, 390, 670, 554, 374, 266, 588, 198, 328, 866, 474, 490, 140, 806, 874, 268, 740, 858, 174, 342, 824, 786]
Odd numbers: [705, 869, 607, 637, 755, 733, 757, 213, 763, 493, 665, 377, 805, 899, 433, 721, 517, 601, 823, 813, 257, 223, 379, 401, 739, 167, 441, 867, 853, 677, 293, 473, 805, 647, 561, 187, 867, 537, 741, 427, 215, 233, 115, 781, 811, 347, 617, 795, 383, 279]
Prime numbers: [607, 733, 757, 433, 601, 823, 257, 223, 379, 401, 739, 167, 853, 677, 293, 647, 233, 811, 347, 617, 383]
Count of even numbers: 50
Count of odd numbers: 50
Count of prime numbers: 21

In [10]:
set_a = {34, 56, 78, 90}
set_b = {78, 45, 90, 23}

print(f"Union of sets: {set_a | set_b}")
print(f"Intersection of sets: {set_a & set_b}")
print(f"Symmetric difference of sets: {set_a ^ set_b}")
print(f"Is set A a subset of set B? {set_a <= set_b}")
print(f"Is set B a superset of set A? {set_b >= set_a}")

number = int(input("Enter a number: "))
if number in set_a:
    set_a.discard(number)
    print(f"Number {number} removed from set A. Updated set A: {set_a}")
else:
    print(f"Number {number} is not found in set A.")

Union of sets: {34, 45, 78, 23, 56, 90}
Intersection of sets: {90, 78}
Symmetric difference of sets: {34, 45, 23, 56}
Is set A a subset of set B? False
Is set B a superset of set A? False
Enter a number: 78
Number 78 removed from set A. Updated set A: {56, 34, 90}

In [11]:
sample_dict = {
  "name": "Kelly",
  "age": 25,
  "salary": 8000,
  "city": "New york"
}
city = sample_dict["city"]
sample_dict.pop("city")
sample_dict["location"] = city
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}